header {
    width: 100%;
    height: 120px;
    position: sticky;
    z-index: 0;
    top: 0;
    background-color: #F9F3F1;
    box-shadow: 0px 5px 40px grey;
}

header #content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #content #logo {
    width: 138px;
    height: auto;
}

header #content #container_botoes {
    display: flex;
    flex-direction: row;
    gap: 1px;

    width: 400px;
    height: fit-content;
}

header #content #container_botoes button {
    font-size: 20px;
    width: 100%;
    height: 46px;
    border-style: none;
    color: white;
}

header #content #container_botoes #esquerdo {
    border-radius: 10px 0px 0px 10px;
    background-color: #E15554;
}

header #content #container_botoes #direito {
    border-radius: 0px 10px 10px 0px;
    background-color: #4CB853;
}
