html{
    padding: 0;
    gap: 0;
    margin: 0;
}

.header {
    /* Header - Fundo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 96px;

    width: 1440px;
    height: 120px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.header .container-navegacao {
    /* Header - Container Navegacao */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    width: 652px;
    height: 88px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;


}

.header .container-img {
    /* Header - Container Logo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    width: 652px;
    height: 88px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

}

.header .container-img img {
    /* logo */

    width: 138px;
    height:138px;

    background: url(logo-ConSol.png);
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.header .container-navegacao .container-botoes {
    /* Header - Container botoes */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 0px;
    gap: 1px;

    width: 400px;
    height: 88px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

.header .container-navegacao .container-botoes .botao-sobre-nos {
    /* Botao Sobre Nos */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 10px;

    width: 199.5px;
    height: 56px;

    background: #2299AA;
    border-radius: 10px 0px 0px 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;


}

.header .container-navegacao .container-botoes .botao-sobre-nos a {
    /* Sobre Nós */

    width: 200px;
    height: 21px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header .container-navegacao .container-botoes .botao-nossos-projetos {
    /* Botao Nossos Projetos */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 199.5px;
    height: 56px;

    background: #54BF50;
    border-radius: 0px 10px 10px 0px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;


}

.header .container-navegacao .container-botoes .botao-nossos-projetos a {
    /* Nossos Projetos */

    width: 200px;
    height: 21px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.banner-foto img{
    /* Banner  */

    width: 1496px;
    height: 512px;

    background: url(Banner.jpg);

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.banner-sobre-nos {
    /* Nossa Historia - Fundo */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 96px;
    gap: 50px;

    width: 1496px;
    height: 698px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.banner-sobre-nos .fundo {
    /* Nossa Historia - Fundo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 0px;
    gap: 24px;

    width: 1304px;
    height: 650px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

.banner-sobre-nos .fundo .titulo-imagem {
    /* Nossa Historia - Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 506px;
    height: 602px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;




}

.banner-sobre-nos .fundo .titulo-imagem .h1 {
    /* Nossa historia - titulo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 506px;
    height: 128px;

    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;



}

.banner-sobre-nos .fundo .titulo-imagem .imagem {
    /* Nossa Historia - Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 506px;
    height: 602px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

.banner-sobre-nos .fundo .paragrafo .h2 {
    /* Paragrafo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 774px;
    height: 602px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

}


.banner-integrantes {
    /* Sobre Nos */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 96px;
    gap: 24px;

    width: 1496px;
    height: 1254px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes {
    /* Sobre Nos - Container Imagens */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 1304px;
    height: 1206px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.banner-integrantes .container-integrantes .h1 {
    /* Titulo */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 1304px;
    height: 87px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes1 {
    /* Imagens 1 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 1304px;
    height: 313;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes2 {
    /* Imagens 2 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 1304px;
    height: 313;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes3 {
    /* Imagens 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 1304px;
    height: 313;


    /* Inside auto layout */
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes1 .caio {
    /* Caio */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #D92352;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.banner-integrantes .container-integrantes .imagens-integrantes1 .caio img {
    /* Caio */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #D92352;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

    /* Caio */

    width: 188px;
    height: 235px;

    background: #868686;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes1 .luanna {
    /* Luanna */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #3983C8;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.banner-integrantes .container-integrantes .imagens-integrantes1 .luanna img {
    /* Luanna */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #3983C8;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

    /* Luanna */

    width: 188px;
    height: 235px;

    background: #868686;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes2 .gabriel {
    /* Gabriel */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #29A668;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.banner-integrantes .container-integrantes .imagens-integrantes2 .gabriel img {
    /* Gabriel */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #29A668;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

    /* Gabriel */

    width: 188px;
    height: 235px;

    background: #868686;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes2 .RRR {
    /* RRR */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #145FA6;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}


.banner-integrantes .container-integrantes .imagens-integrantes2 .RRR img {
    /* RRR */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #145FA6;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

    /* RRR */

    width: 188px;
    height: 235px;

    background: #868686;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes3 .eduardo {
    /* Eduardo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #F2811D;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.banner-integrantes .container-integrantes .imagens-integrantes3 .eduardo img {
    /* Eduardo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #F2811D;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

    /* Edu */

    width: 188px;
    height: 235px;

    background: #868686;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.banner-integrantes .container-integrantes .imagens-integrantes3 .shimas {
    /* RSR */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #D92352;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

}

.banner-integrantes .container-integrantes .imagens-integrantes3 .shimas img {
    /* RSR */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 24px;

    width: 640px;
    height: 313;

    background: #D92352;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;

    /* Scheneider */

    width: 188px;
    height: 235px;

    background: #868686;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.banner-projeto {
    /* Projeto Doacao - Fundo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 96px;
    gap: 24px;

    width: 1496px;
    height: 512px;

    background: #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 4;
    align-self: stretch;
    flex-grow: 0;

}

.banner-projeto .container-projeto {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;

    width: 1304px;
    height: 464px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

}

.banner-projeto .container-projeto .container-paragrafo {
    /* Paragrafo */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 774px;
    height: 464px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;


}

.banner-projeto .container-projeto .container-paragrafo {
    /* Gestão de Doações e Divulgação Para quem recebe: Nesse projeto criamos um sistema que ajuda a gerenciar a distribuição de doações, além de integrar as diversas igrejas para coibir ações como pegar mais de uma cesta basíca para vender. Para quem doa: Temos um website onde você pode ver os locais que estão necessitando de doações e que estão mais próximos de onde você está. */

    width: 774px;
    height: 464px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

}

.banner-projeto .container-projeto .container-paragrafo h4 {

    /* Paragrafo */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 774px;
    height: 464px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}

.banner-projeto .container-projeto .container {
    /* Projeto Doacao- Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 506px;
    height: 464px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.banner-projeto .container-projeto .container .imagem {
    /* Projeto Doacao- Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 506px;
    height: 464px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.banner-projeto .container-projeto .container .imagem img {
    /* Imagem */

    width: 506px;
    height: 365px;

    background: url(Imagem2.png);
    border-radius: 10px 10px 0px 0px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.banner-projeto .container-projeto .container .botao {
    /* Projeto Doacao- Container */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;

    width: 506px;
    height: 99px;

    background: #F2811D;
    border-radius: 0px 0px 10px 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.banner-projeto .container-projeto .container .botao link {
    /* Quero Conhecer */

    width: 366px;
    height: 38px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    text-align: center;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.footer {
    /* Footer - Fundo */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 96px;
    gap: 19px;

    width: 1496px;
    height: 168px;

    background: #B7BFB6;

    /* Inside auto layout */
    flex: none;
    order: 5;
    align-self: stretch;
    flex-grow: 0;

}

.footer .container {
    /* Container */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 1304px;
    height: 120px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}

.footer .container img {
    /* logo */

    margin: 0 auto;
    width: 137px;
    height: 88px;

    background: url(logo-ConSol);
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.footer .direita {
    /* Direita */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    margin: 0 auto;
    width: 1167px;
    height: 120px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

}

.footer .direita .icons {
    /* Icones */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 6px;

    margin: 0 auto;
    width: 1167px;
    height: 60px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;

}

.footer .direita h6 {
    /* Copyright © 2025 ConSol. Todos os direitos reservados. */

    margin: 0 auto;
    width: 1167px;
    height: 60px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: right;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;

}